{
  "ihris4": {
    "baseURL": "http://localhost/index.php/FHIR",
    "username": "i2ce_admin",
    "password": "password"
  },
  "ihris5": {
    "baseURL": "http://localhost:8080/hapi/fhir",
    "username": "hapi",
    "password": "hapi"
  },
  "sync": {
    "cronTime": "*/1 * * * *",
    "lastSyncTime": "2020-08-25T20:44:04",
    "maxBundleSize": "200"
  }
}