{
  "ihris4": {
    "baseURL": "http://localhost/index.php/FHIR",
    "username": "i2ce_admin",
    "password": "password"
  },
  "ihris5": {
    "baseURL": "http://localhost:8080/hapi/fhir",
    "username": "hapi",
    "password": "hapi"
  },
  "sync": {
    "cronTime": "*/15 * * * *",
    "lastSyncTime": "1970-01-01T00:00:00",
    "maxBundleSize": "200",
    "isrunning": false
  }
}